<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="App" ng-controller="controlador">
    <h1>Carga de imagenes</h1>
    <input type="file" file-input="files" multiple/>
        <button ng-click="submit()">Cargar</button>

    <h2>---</h2>
    <br>

    <form action="http://localhost:3000/Imagen" method="post" enctype="multipart/form-data">
        <input type="file" file-input="files" name="fileupload" multiple>
        <input type="submit">
    </form>

    <img  src="{{ ruta }}">

    <div class="imagenes">
        <img  ng-repeat="imagen in imagenes" alt="{{ imagenes.nombre }}">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('App', []);
        var form_data = new FormData();

        app.directive('fileInput', function($parse) {
            return {
                link: function ($scope, element, attrs) {
                    element.on('change', function (event){
                        var files = event.target.files;
                        $parse(attrs.fileInput).assign($scope, element[0].files);
                        $scope.$apply();
                    });
                }
            }
        });

        app.controller('controlador', function($scope, $http){
            $scope.submit = function() {
                var cont = 0;
                angular.forEach($scope.files, function(file) {
                   //form_data.append('file['+ cont +']', file); 
                   form_data.append('file', file)
                   cont++;
                });

                console.log(form_data)
                // YA muestra la imagenes lley
                /*var value = form_data.get('file[0]');
                console.log(value)

                var fr = new FileReader();
                fr.onload = (function(theFile) {
                    return function(e) {
                    // Render thumbnail.
                    $scope.ruta = e.target.result
                    };
                })(value);
                var UrL = fr.readAsDataURL(value);*/

                $http({
                    url : "http://localhost:3000/Imagen",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method  : 'POST',
                    type: 'POST'
                }).then(function mySuccess(response) {
                    // nothing 
                    console.log('Succesful request')
                });
            };
        });
    </script>
</body>
</html>